<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<!-- About Me -->
<head> <!--neccessary css file-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fahad Shafiq - About</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <header> <!--header section-->
        <h1>Fahad Shafiq</h1>
    </header>

   <section id="about"> <!--about me section-->
        <div class="container">
            <h2>About Me</h2>
            <div class="about-content">
                <div class="about-text">
                    <p>Hello, My name is Fahad Shafiq, I am 19 years old and I am a motivated student studying network and IT security at Ontario Tech University. I decided to start a journey to discover the complex world of technology and cybersecurity. My desire to fully immerse myself in the world of coding is the result of my passion for technology and all of its potential. Code writing, tackling challenging issues, and creating solutions that make the digital world safer and more effective give me a great deal of satisfaction. I frequently spend my free time playing volleyball on the court when I'm not engrossed in the realm of bits and bytes. I genuinely enjoy playing the sport, and it provides a nice counterbalance to my academic endeavours. Volleyball is more than just a pastime because the collaboration, communication, and strategic thinking necessary are compatible with my career goals in IT security. I am enthusiastic about the chances and challenges that lie ahead as I continue my academic journey and deepen my understanding of network and IT security. I'm committed to making a difference in the world and maintaining the security and resiliency of the digital environments on which we all rely. </p>
                    <!-- about section -->
                </div>
                <div class="about-media">
                    <img src="/Assets/images/me.png" alt="Your Photo"
                    width="300"
                    height="500"
                    >
                </div>
                </div>
            <div class="videoclass">
                <<video width="320" height="240" controls>
                    <source src="/Assets/videos/video.mp4" type="video/mp4">
                    Your browser does not support the video tag. Please use a modern browser.
                </video>
            </div>
            </div>
            </div>
        </div>
    </section>

    <footer> <!--footer-->
        <div class="container">
            <p>&copy; 2023 Fahad Shafiq</p>
        </div>
    </footer>
</body>

<%- include('partials/footer.ejs') %>
