<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<section id="home" class="py-5"> <!-- Add padding -->
    <div class="container">
        <h2 class="text-center text-purple mb-4">Welcome to the Futuristic World!</h2> <!-- Centered heading -->
        <p class="lead text-white-50"> <!-- Lead paragraph-->
            Greetings, IT enthusiasts! I'm so happy to have you here at my online residence. I'm thrilled to share this fantastic journey that was building this website with you. From writing the technology to planning the user experience, building this platform has been nothing short of thrilling.
        </p>
        <div class="row my-5">
            <div class="col-md-4 mb-3">
                <h3 class="text-purple">About Me</h3> <!-- Section title -->
                <p class="text-white-50">Discover my story, my academic interests, and my love for volleyball and coding by diving into it. This paragraph provides some insight into my personality and motivations.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h3 class="text-purple">Projects</h3> <!-- Section title -->
                <p class="text-white-50">Take a look at my fascinating endeavors in the field of network and IT security by visiting the Projects area. These projects show my commitment to creating a safer online environment, ranging from software improvements to cybersecurity research.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h3 class="text-purple">Contact Information</h3> <!-- Section title -->
                <p class="text-white-50">I would appreciate hearing from you and value your input. Alternatively, you may send me an email directly by using the contact form on this page. I'm willing to participate in meaningful dialogue with you whether you have inquiries, comments, or you just want to connect.</p>
            </div>
        </div>
        <div class="text-center">
            <p class="text-white-50">Your Opinion Counts:</p>
            <p class="text-white-50">I created this website with the hope of developing a useful resource and a thriving community of tech lovers and cybersecurity supporters. The development of the site's content and user experience depends heavily on your comments. Please feel free to offer any ideas you may have in the comments section. Your suggestions will help us improve this platform even further.</p>
            <p class="font-weight-bold text-purple">We appreciate your interest and participation in this thrilling journey. I sincerely hope this site provides you with inspiration and education, and I am looking forward to getting to know you as we jointly explore the rapidly changing fields of technology and IT security.</p>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
