<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>


<section id="projects"> <!--projects section-->
    <div class="container">
        <header> <!--header section-->
            <h1>Fahad Shafiq</h1>
        </header>
        <h2>Projects</h2>
        <ul>
            <li>Project 1: Cybersecurity using Linux</li>
            <img src="/Assets/images/Kali.png" alt="Your Photo"
            width="300"
            height="300"
            >
            <li>Project 2: Cryptography in Python</li>
            <img src="/Assets/images/cryptography.png" alt="Your Photo"
            width="300"
            height="300"
        </ul>
    </div>
</section>


<%- include('partials/footer.ejs') %>
